.text-decorate-none{
    text-decoration: none;
}
.botaoadd{
    font-size: xx-large !important;
    color: #96BB7C !important;
    position: fixed !important;
    Width :75px !important;
    Height : 89px !important;
    right: 5px!important;
    bottom: 5px!important;
   }
.botaoatcan{
    cursor: pointer;
    color: #2A7CC7;
    }
    .cx{
        margin: 15px;
        right: 50%;
        margin-right: 50%;
    }