.s{
    border-color: white!important;
    font-weight: bold!important;
    background-color: #20C2A8!important;
    color: #ffffff!important;
}
.n{
    border-color: white!important;
    font-weight: bold!important;
    background-color: #2A7CC7!important;
    color: #ffffff!important;
}