.cursor {
    cursor: pointer;
    color: white !important;
    justify-content: space-around !important;
    width: 70%;
}

.menu{
    margin-right: auto;
}

.text-decorator-none{
    text-decoration: none;
    color: #2A7CC7 !important;
    font-family: 'Montserrat';
    font-weight: '700';
}

.nav{
    background-color:transparent!important;
    position: absolute !important;
    top: 0 !;
    left: 0 ;
    width: 100% ;
    z-index: 9999 ;
    box-shadow: none !important;
}

.box2{border-color:white !important;
    font-weight: bold !important;
    background-color: #96BB7C !important; 
    color: #ffffff !important;
    justify-content: flex-end !important;
}
