.cursor {
    cursor: pointer;
    color: white !important;
    justify-content: space-evenly !important;
    width: 70%;
}

.text-decorator-none{
    text-decoration: none !important;
    color: #2A7CC7 !important;
    font-family: 'Montserrat' !important;
    font-weight: '700' !important;
}

.nav{
    background-color:transparent!important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    z-index: 9999 !important;
    box-shadow: none !important;
}

.box2{
    justify-content: flex-end !important;
}
