.swiperDev.swiper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    width: 1200px;
    height: 420px;
    background: transparent;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    padding: 19px;

}

.swiper-pagination-bullets {
    display: none;
}

.slideDev {
    background-color: #FFFFFF;
    box-shadow: 4px 13px 19px rgba(0, 0, 0, 0.07);
}

.slideDev.swiper-slide img {
    display: block;
    width: 20%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}

.imgDev {
    padding-top: 30px;
    justify-content: center;
}

.textoSlideDev {
    width: 159px;
    height: 120px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
    justify-content: center;
    padding-top: 40px;
}

.textoSlideDev h6 {
    font-size: 16px;
    letter-spacing: 0.2px;
    color: #737373;
    margin: 0;

    text-align: center;
}

.textoSlideDev h5 {
    font-size: 19px;
    letter-spacing: 0.1px;
    color: #252B42;
    margin: 0;

    text-align: center;
}

.textoSlideDev p {
    width: 402px;
    font-weight: 400;
    font-size: 14px;
    text-align: justify;
    letter-spacing: 0.2px;
    color: #252B42;
    margin: 0;
}

.subtitulosDevs {
    padding-top: 20px;
    width: 300px;
}

.imgRedes {
    justify-content: center;
    align-items: center;
    padding-top: 4px;
}

.imgRedes img {
    position: relative;
    left: 79px;
    /* Mova a imagem 20 pixels para a direita */
}

.imgRedes img {
    margin-right: 5px;
    /* Define o espaço entre as imagens */
}


.imgContainer {
    display: flex;
}

.imgContainer a {
    margin-right: 10px;
    vertical-align: top;
    /* Espaçamento entre as imagens */
}

.imgContainer a {
    display: inline-block;
    margin-right: 300px;
    /* Espaçamento entre as imagens */
}

@media (max-width: 800px) {
    
    .swiperDev.swiper {
        width: 380px;
        height: 420px;
    }

    .textoSlideDev p{
        width: 330px;
        font-size: 15px;
    }

    .textoSlideDev h5{
        padding-top: 50px;
    }

    .textoSlideDev{
        padding-top: 15px;
    }

    .slideDev.swiper-slide img {
        width: 25%;
    }
}