.textos1{
    font-weight: bold !important;
    color:#c27423 ;
    text-decoration: none;
 }
 
 .imagem{
     background-image: url(src/assets/images/logoback.png);
     background-repeat: no-repeat;
     width: 100vh;
     min-height: 100vh;
     background-size: cover;
    /* margin-left:101px */
 }
 
 .text-decorator-none{
     text-decoration: none;
 }

<<<<<<< HEAD
 
=======
 .loginForm{
    height:27rem;
    background-color: rgba(0, 51, 255, 0.05);
     /* background-color: rgba(255, 255, 255, 0.3); */
    border-color:#62929E !important;
 }

 .bg-08-blue{
    align-items: center;
    background-color: #CCFAFA !important;
    }
.logar{
background-color: #537A56!important;
color: white!important;
}
>>>>>>> 8dc9a263984b5104e6c1d079116b36ca4f4ce9b4
