.titulos {
    font-family: "Montserrat";
    font-size: 12px;
    padding-right: 55%;
    align-items: "start";
    color: #000000;
    background-color: #62929e;
    text-align: left;
    padding: 10px;
}

.texto {
    color: #968c8c;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    padding: 1px;
    text-align: left;
    display: flex;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: px;
}

.icon {
    color: #000000;
    padding-bottom: 10px;
    padding-right: 5px;
}

.texto1 {
    color: #968c8c;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    padding-top: 5px;
    text-align: left;
    display: flex;
    font-size: larger;
}

.redes {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.iconGit{
    padding-top: 50px ;
} 