@import url(../../App.css);

.background {
    width: 1440px;
    height: 841px;
    background: #FFFFFF;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.retanguloMenor {
    position: absolute;
    width: 111.61px;
    height: 176.96px;
    left: 0px;
    top: 0px;
    background: #EFF8ED;
}

.retanguloMaior {
    position: absolute;
    width: 604.15px;
    height: 700px;
    right: 0px;
    top: 0px;
    background: #EFF8ED;
    z-index: 0;
}

.formatos {
    position: absolute;
    left: 650px;
    top: 150px;
}

.home {
    padding: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.textoHome {
    padding-bottom: 40rem;
    font-family: 'Montserrat';
    font-style: normal;
    z-index: 1;
}

.textoHome h5 {
    color: #96BB7C;
    font-weight: 700;
    font-size: medium;
}

.textoHome h1 {
    font-weight: 700;
    font-size: 35px;
    color: #252B42;
}

.textoHome p {
    font-weight: 400;
    font-size: 18.5px;
    color: #737373;
}

.imagemHome {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 90px;
    right: 50px;
}

.home button {
    border: 1px solid #96BB7C;
    align-items: center;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
}

.botaoCadastro {
    color: #96BB7C;
    
    background: transparent;

   
}

.botaoCadastro:hover {
    transition: 0.4s ease-in-out;
    background-color: #637a53;
    color: #fefefe;
    border: 1px solid #517c35;
}

.botaoSobre {
     color: #fff;
    background: #96BB7C;
    margin-left: 15px;
}

.botaoSobre:hover {
    transition: 0.4s ease-in-out;
    background-color: #c5ddb6;
    color: #fefefe;
    border: 1px solid #bbed9a;
}

.botaoPerfil {
    color: #fff;
   background: #96BB7C;
   margin-left: 15px;
}
