.sim{
    border-color: white !important;
    font-weight: bold!important;
    background-color: #20C2A8!important;
    color: #ffffff!important;
}
.nao{
    border-color: white!important;
    font-weight: bold!important;
    background-color: #2A7CC7!important;
    color: #ffffff!important;
}
.caixas{
    border-radius: 45px !important;
    margin: 15px;
    right: 50%;
    margin-right: 30%;
}
.marge{
    margin-top: 90px;
}
