.imagem2{
  background-image: url(src/assets/images/logobackcadastro.png);
  background-repeat: no-repeat;
  width: 100vh;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  border-color: black;
  border-size:10px;
}

.titulo{
  font-weight: bold !important;
  color: #141F6B;
}

.btnCancelar{
  margin-left: 20px !important;
}

.btnCadastrar{
  background-color:#537A56;
  color: white
}

.cadastroForm{
  height:37rem;
  background-color: rgba(0, 51, 255, 0.05);
   /* background-color: rgba(255, 255, 255, 0.3); */
  border-color:#62929E !important;
}

.bg-08-blue{
background-color: #CCFAFA;
align-items: center;
}