.imagem2{
  background-image: url(https://i.im.ge/2023/06/10/iFk5pM.logobackcadastro.png);
  background-repeat: no-repeat;
  width: 100vh;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  border-color: black;
  border-size:10px;
}

.titulo{
  font-weight: bold !important;
  color: #141F6B;
}

.btnCancelar{
  margin-left: 20px !important;
  background-color: #2A7CC7 !important;
  color:white !important;
}

.btncadastrar{
  background-color:#537A56 !important;
  color: white!important;
}
.cadastroForm{
  height:37rem;
  background-color: rgba(0, 51, 255, 0.05);
   /* background-color: rgba(255, 255, 255, 0.3); */
  border-color:#62929E !important;
}

.bg-08-blue{
background-color: #CCFAFA;
align-items: center;
}
.btnCancelar{
  margin-right: 20px !important;
}